@{
    ViewBag.Title = "User Management";
}

<section id="mvno-admin-breadcrumb-actions" class="d-flex flex-nowrap align-items-center px-4 py-2">
    <div class="flex-fill">
        
    </div>
    <div class="flex-grow-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center justify-content-end m-0">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Management</li>
            </ol>
        </nav>
    </div>
</section>


<section id="mvno-admin-page-content" class="px-4">
    <div class="card h-100">
        <div class="card-body overflow-auto h-100">

        </div>
    </div>
</section>