@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

:root {
    --color-white: #fff;
    --color-black: #000;
    --theme-base: #1B1565;
    --theme-dark: #0E094F;
    --color-alt-light: #F9F9F9;
    --color-dark: #212121;
    --color-base: #1E293B
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font: 1rem/1.5 'Source Sans 3', sans-serif;
    background-color: var(--color-alt-light);
    color: var(--color-base);
    height: 100%;
    min-width: 992px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
}

a {
    color: var(--theme-base);
    text-decoration: none;
}

    a:hover {
        color: var(--theme-dark);
        text-decoration: underline;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul li {
        margin: 0;
        padding: 0;
    }

.h-0 {
    height: 0;
}

@media screen and (max-height: 600px) {
    .h-0 {
        height: auto;
    }
}

#mvno-admin-content-wrapper {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
}

#mvno-admin-nav {
    background-color: var(--color-base);
    width: 120px;
    overflow: auto;
}

    #mvno-admin-nav a {
        border-top: 1px solid rgba(255, 255, 255, .10);
    }

        #mvno-admin-nav a#mvno-admin-logo {
            padding: 20px 0;
        }

        #mvno-admin-nav a,
        #mvno-admin-nav a:hover {
            color: var(--color-white);
            text-decoration: none;
            padding: 16px 0;
        }

#mvno-admin-header {
    background-color: var(--color-white);
    height: 80px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.025);
    padding: 0 24px;
    flex: 0 0 80px;
}

    #mvno-admin-header h1 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

.k-grid {
    border: none;
}

    .k-grid .k-table {
        border: none;
        border-collapse: collapse;
        box-sizing: border-box;
        width: auto;
    }

        .k-grid .k-table .k-grid-header {
            border: none;
        }

            .k-grid .k-table .k-grid-header .k-table-row {
                position: sticky;
                top: 0;
                border: none;
                background-color: var(--color-alt-light);
                z-index: 1;
            }

                .k-grid .k-table .k-grid-header .k-table-row .k-table-th {
                    border: none;
                    padding: 12px 24px;
                    font-weight: 600;
                    color: var(--theme-base);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                    .k-grid .k-table .k-grid-header .k-table-row .k-table-th:first-child {
                        position: sticky;
                        left: 0;
                        z-index: 1;
                        background-color: var(--color-alt-light);
                    }

        .k-grid .k-table .k-table-tbody {
            border: none;
        }

            .k-grid .k-table .k-table-tbody .k-table-row,
            .k-grid .k-table .k-table-tbody .k-table-row.k-table-alt-row {
                border: none;
                background-color: transparent;
            }

                .k-grid .k-table .k-table-tbody .k-table-row:hover .k-table-td {
                    color: var(--color-white);
                    background-color: var(--theme-base);
                    cursor: pointer;
                }

                .k-grid .k-table .k-table-tbody .k-table-row .k-table-td {
                    border: none;
                    border-bottom: 1px solid var(--color-alt-light);
                    padding: 12px 24px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    background-color: var(--color-white);
                }

                    .k-grid .k-table .k-table-tbody .k-table-row .k-table-td:first-child {
                        position: sticky;
                        left: 0;
                    }



#subscribersGrid {
    height: calc(100vh - 317px);
    overflow: auto;
}